body{
    font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial !important;
    color: #222;

}

.btn-custom{
    background-color: #726c61 !important;
    color: white !important;
    font-weight: bold !important;
}
.btn-ocup{
    border: 1px solid rgb(223, 222, 222) !important;
    text-align: left !important;
    color: rgb(99, 98, 98) !important;
    background-color: #ffffff !important;
}
.form-costum{
    background-color: #EEE6D7 !important;
    border-radius: 8px !important;
}

.imagen-reducida{
    /* max-width: 400px !important; */
    border-radius: 2% !important;
}

.footer{
    background-color: #EEE6D7 !important;
}

.btn-suscrib{
    background-color: #4e4e4e !important;
    color: #ffffff !important;

}

.feature-card{ transition: transform .28s ease, box-shadow .28s ease; border-radius:12px; overflow:hidden; }
.feature-card:hover{ transform: translateY(-6px); box-shadow:0 18px 40px rgba(31,45,66,0.08); }
.feature-card img{ height:160px; object-fit:cover; }

 /* habitaciones */
.text-personalizado{
    color: #867979 !important;
}

/* contacto */
.imagen-cabecera{
    max-height: 400px !important;

}